#mainContainer {
  margin: auto;
  border: 3px solid #e6ccff;
  border-radius: 10px;
  /* background: rgba(76, 175, 80, 0.3);
  #f2f2f9;
  background-image: img {
    opacity: 0.5;
    src: "https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";
  }*/
  background-size: cover;
  margin: 30px 20px 20px 20px;
  padding: 15px;
}

.rentalRowButtons {
  padding: 5px;
  display: inline;
}

/*#mainContainer {

  margin: auto;
   /* border: 3px solid #e6ccff;
    border-radius: 10px;

    background: rgba(76, 175, 80, 0.3);
    #f2f2f9;
    background-image: img {
      opacity: 0.5;
      src: "https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";
    }

    background-size: cover;
    margin: 30px 20px 20px 20px;
    padding: 15px;
  }


  #mainContainer .inImage{

  content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: space;
    opacity: 0.21;
    margin: auto;
    border: 3px solid #e6ccff;
      border-radius: 10px;

  }

  #mainContainer .content{
  margin: 10px 10px 10px 10px;
  height: 100%;
    width: 100%;
  position: relative;
  }*/