
.loginContainer {

margin: auto;
}

.loginContainer .inImage{

  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
  opacity: 0.21;
  margin: auto;
  border: 3px solid #e6ccff;
    border-radius: 10px;
}


.loginContainer .content {

margin: 300px 200px 50px 300px;
height: 50%;
  width: 42%;
position: relative;
/*box-shadow: inset 0px 0px 30px 10px #538089;
border: 1px solid #e6ccff;
    border-radius: 30px;*/
}


.loginContainer .button-margin {
margin:auto;
}


/*

.loginContainer {
position: relative;

}

.loginContainer .container-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    opacity: 0.5;
}

.loginContainer .content {

    position: relative;
    z-index: 1;
}


.rentalRowButtons {
  padding: 5px;
  display: inline;
}




.container{
    position: relative;
    z-index:1;
    overflow:hidden; /*if you want to crop the image*/

    /*
}

.container:before{
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    content: url('https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    opacity:0.4;
}
/*border: 3px solid #e6ccff;
  border-radius: 50px;

  background: rgba(76, 175, 80, 0.3);
  #f2f2f9;

 background-image: url("https://images.pexels.com/photos/1587947/pexels-photo-1587947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");


box-shadow: inset 0px 0px 277px 10px #4c3f37;


  background-size: cover;
  margin: 30px 20px 20px 20px;
  padding: 15px;*/


